.list-ind{
    background-color: #e1701a;
}

.search-bar{
    margin: 10;

    border-width: 1;
    border-radius: 5;
    border-color: #e1701a;

    TextField{
        padding:10;
        border-width: 0; 
        font-size: 13;
    }

    Label{
        font-size: 16;
        color: #979797;
    }
}

.lv-item{
    background-color: #f2f2f2;
    margin: 1 0 1 0;
    box-shadow: 1 1 1 0 #bbbbbb;
}

.l-name{
    font-size: 15;
    font-weight: bold;
}

.lv-button{
    margin: 0;
    padding: 0;

    .lv-btn-list{
        margin-top: 3;
        font-size: 25;
        text-align: center;
    }
}