$pri-color: #e1701a;
$sec-color: #f7a440;
$light-color: #f6dcbf;
$default: #aaaaaa;
$btn-primary: #007bff;
$btn-success: #28a745;
$btn-danger: #dc3545;
$btn-warning: #ffc107;
$btn-info: #17a2b8;
$btn-light: #f8f9fa;
$btn-dark: #343a40; 
