@import 'app-variable';


.fa {
    font-family: "FontAwesome,fa-solid-900";
}

.fab {
    font-family: "FontAwesome,fa-brands-400";
}

.far {
    font-family: "FontAwesome,fa-regular-400";
}

.form-control{
    font-size: 12;
    margin: 8 2;
}

.lb-normal{
    font-size: 14;
    font-weight: bold;
}

TextField{
    // border-width: 2;
    padding: 5 2;
    margin: 0;
    // border-radius: 5;
    font-size: 12;
}

.custom-actionbar{
    background-color: $pri-color;
    color: $light-color;
    font-family: "Roboto", "Roboto-Regular";
    height: 75;
    padding: 10;

    Label{
        font-size: 20;
        color: white;
    }
}

.header{
    background-color: $pri-color;
    color: $light-color;
    font-family: "Roboto", "Roboto-Regular";
}

.btn-primary{
    background-color: $btn-primary;
    color: $btn-light;
}

.btn-success{
    background-color: $btn-success;
    color: $btn-light;
}

.btn-warning{
    background-color: $pri-color;
    color: $btn-light;
}

.btn-danger{
    background-color: $btn-danger;
    color: $btn-light;
}

.btn-dark{
    background-color: $btn-dark;
    color: $btn-light;
}